/*
 * Licensed Materials - Property of IBM
 *
 * 5725E28, 5725I03
 *
 * © Copyright IBM Corp. 2015, 2016
 * US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

.bannerInApp
{
    position: fixed;
    left: 0;
    right: 0;
    height: 44px;
    z-index: 1100;
    text-shadow: none;
}

.bannerInApp .text
{
    margin-left: 44px;
    margin-right: 44px;
}

.bannerInApp .icon
{
    position: absolute;
    height: 44px;
    width: 44px;
    left: 0;
    bottom: 0;
    top: 0;
}

.bannerInApp .icon img
{
    margin: 10px;
    height: 24px;
    width: 24px;
}

.bannerInApp .close
{
    position: absolute;
    height: 44px;
    width: 44px;
    right: 0;
    bottom: 0;
    top: 0;
}

.bannerInApp .close img
{
    margin: 10px;
    height: 24px;
    width: 24px;
}