/*
 * Licensed Materials - Property of IBM
 *
 * 5725E28, 5725I03
 *
 * © Copyright IBM Corp. 2016, 2016
 * US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

#inApp #video {
    position: absolute;
    left: 0;
    right: 0;
    top: 44px;
    bottom: 44px;
    overflow: hidden;
}
#inApp #video video {
    width: 100%;
    height: 100%;
}

#inApp #videoProgress
{
    width: 100%;
}

#inApp .text
{
    height: 74px;
}