/*
 * Licensed Materials - Property of IBM
 *
 * 5725E28, 5725I03
 *
 * © Copyright IBM Corp. 2016, 2016
 * US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

.mediaInApp
{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1100;
    text-shadow: none;
    top:0;
    bottom:0;
    background-color: rgba(0,0,0,0.90);
}

.mediaInApp .handle
{
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    height: 14px;
}
.mediaInApp .handle img
{
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    display: block;
}

.mediaInApp .close
{
    position: absolute;
    height: 44px;
    width: 44px;
    right: 0;
    bottom: 0;
    top: 0;
}

.mediaInApp .close img
{
    margin: 10px;
    height: 24px;
    width: 24px;
}

.mediaInApp .text
{
    position: absolute;
    height: 64px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: gray;
    max-height: 100%;
}

.mediaInApp .text div
{
    border-top: 1px solid gray;
}